
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.mod_help_list {
    overflow: hidden;
    height: 200px
}

.mod_help_nav {
    line-height: 22px
}

.mod_help_nav_tit {
    margin-bottom: 5px;
    font-size: 14px
}